@import 'config';
@import './styles/HomePage';
@import './styles/keyboardStyle';
@import './styles/NavBar';
@import './styles/Practice';
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background:$background-color ; 
  color :white;
}

a{
  color: inherit ;
  text-decoration: none;
}

button{
  background: inherit; 
  border: none; 
  color :inherit;
  &:focus{
    outline :none;
  }
}

.App{
  border: solid black 1px;
  width: 1000px;
  height: 700px;
}
