.practice {
  @include flexed(column, center, center);
  word-wrap: break-word;
  textarea {
    width: 100vw;
    max-width: 1080px;
    height: 450px;
    padding: 30px;
    background: inherit;
    color: silver;
    font-size: 25px;
    border: none;
    outline: none;
    user-select: none;
  }
  @media screen and (max-width: 500px) {
    textarea {
      font-size: 18px;
      padding: 20px;
    }
  }
  textarea::-webkit-scrollbar {
    display: none;
  }
  .countdown {
    margin: 20px 0;
    word-spacing: 0.3em;
    font-weight: 400;
  }
  .removeCountDown {
    visibility: hidden;
    margin-top: 40px;
  }
  input {
    width: 700px;
    font-size: inherit;
    font-size: 2rem;
    min-height: 5vh;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    &:focus {
      outline: none;
      box-shadow: 2px 2px 6px 2px rgba(0, 221, 255, 0.28);
    }
  }
  .Character {
    text-align: center;
    width: 100vw;
    max-width: 1080px;
    height: 400px;
    padding: 30px;
    background: inherit;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 600;
    user-select: none;
    line-height: 1.5em;
  }

  .Character-current {
    background-color: #ffffff7c;
  }

  .Character-out {
    color: rgb(81, 255, 0);
  }

  h1 {
    margin-top: 20px;
  }
}
